.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: rgba($color-black, 0.5);

    &__close {
        position: absolute;
        right: 1rem;
        top: 1rem;
        cursor: pointer;
        padding: 0.9rem;
        background: $color-neutral-200;
        border: 2px solid $color-neutral-600;
        border-radius: 1000rem;
    }

    &__content {
        position: relative;
        background-color: $color-neutral;
        box-shadow: 0 0 1px rgba($color-black, 0.3), 0 4px 8px rgba($color-black, 0.25);
        border-radius: 10px;
        overflow: hidden;
    }
}
