.dropdown {
  width: 100%;
  padding: 1.2rem 0 1.2rem 0.8rem;
  background: $color-neutral;
  border: 2px solid $color-neutral-400;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: $color-neutral-500;

  &.__error {
    border: 2px solid $color-action-default;
  }

  &__message--error {
    color: #ff3d71;
    font-weight: bold;
    padding: .4rem;
    font-size: 1.1rem;
  }
  
  &__container {
    position: relative;
    max-width: 26rem;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: auto;
    pointer-events: none;
  }

  &__option {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: $color-neutral-500;
  }
}
